$first-font-family: 'Barlow', sans-serif;
$second-font-family: 'Quicksand', sans-serif;
$third-font-family: 'Source Code Pro', monospace;
$first-font-color: rgb(87, 87, 87);
$second-font-color: rgb(230, 230, 230);
$first-color: #f4f6f6;
$second-color: #5C7CFA;
$third-color: rgb(107, 219, 223);
$fourth-color: rgb(255, 214, 81);
$fifth-color: rgb(177, 98, 177);
$sixth-color: rgb(245, 6, 125);
$seventh-color: #ffb01d;
$eigth-color: rgb(55, 173, 0);
$ninth-color: #6dfdd2;
$tenth-color: rgb(21, 255, 0);
$error-color: #ff0019;