<div class="page admin">
  <h1 class="main-title">{{viewTitle}}</h1>
  <a href="/" class="back-link">
    <i class="far fa-caret-square-left back-link__icon"></i><span class="back-link__title">Back to Main Page</span>
  </a>
  <div class="admin-panel">
    <a href="/admin/database-info" class="admin-panel__card">
      <h3 class="card__title">Show Info about Database</h3>
      <span class="card__description">Display valuable information about this Database</span>
      <div class="card__image"><i class="fas fa-info-circle admin-icon"></i></div>
    </a>
    <a href="/admin/manage" class="admin-panel__card">
      <h3 class="card__title">Manage hired Programmers</h3>
      <span class="card__description">Add tasks for hired Programmers</span>
      <div class="card__image"><i class="fas fa-tasks admin-icon"></i></div>
    </a>
    <a href="/admin/search" class="admin-panel__card">
      <h3 class="card__title">Search to Edit or Delete</h3>
      <span class="card__description">Search Programmers by query parameters</span>
      <div class="card__image"><i class="far fa-address-card admin-icon"></i></div>
    </a>
    <a href="/admin/add-programmer" class="admin-panel__card">
      <h3 class="card__title">Add Programmers</h3>
      <span class="card__description">Add Programmers to Database</span>
      <div class="card__image"><i class="fas fa-user-plus admin-icon"></i></div>
    </a>
    <a href="/admin/hire-dismiss" class="admin-panel__card">
      <h3 class="card__title">Hire / Dismiss Programmers</h3>
      <span class="card__description">Hire / Dismiss Programmers from recent jobs and tasks</span>
      <div class="card__image"><i class="fas fa-map-signs admin-icon"></i></div>
    </a>
  </div>
</div>