<main class="main-page page">
  <div class="main-page-content">
    <h1 class="main-page__title animated__title">{{viewTitle}}</h1>
    <p class="main-page__description reveal">Programmers' Database with all programming languages.</p>
    <!-- MAIN-PAGE TABS -->
    <div class="main-page-tabs reveal">
      <div class="tab-header">
        <div class="active tab-menu__item-container">
          <li class="tab-menu__item"><i class="fas fa-info-circle tab-icon"></i>About</li>
        </div>
        <div class="tab-menu__item-container">
          <li class="tab-menu__item"><i class="fas fa-external-link-square-alt tab-icon"></i>Links</li>
        </div>
        <div class="tab-menu__item-container">
          <li class="tab-menu__item"><i class="fas fa-tools tab-icon"></i>Tools</li>
        </div>
        <div class="tab-menu__item-container">
          <li class="tab-menu__item"><i class="fas fa-user-cog tab-icon"></i>Admin</li>
        </div>
      </div>
      <div class="tab-body">
        <!-- ABOUT -->
        <div class="active tab-body__content">
          <div class="section about">
            <h2 class="section__content-title">ABOUT THIS PROJECT</h2>
            <div class="section-icon"><i class="fas fa-info-circle tab-icon"></i></div>
            <hr>
            <p class="section__content-description">Project written using <span class="important-term">express.js</span>, <span class="important-term">Node.js</span>, non-relational database <span class="important-term">MongoDB</span>, library <span class="important-term">Mongoose</span>. This is a typical <span class="important-term">CRUD</span> (Create, Read, Update, Delete) application using persistent storage (MongoDB database).<br><br>The main functionality of the application is to add developers to the database, search by filtering, edit or delete records. The application allows such actions after a correct login to the <span class="important-term">Admin's Panel</span> (last tab). The last tab contains information about the correct login and password needed to access the Admin's Panel.</p>
          </div>
        </div>
        <!-- WORK -->
        <div class="tab-body__content">
          <div class="section links">
            <h2 class="section__content-title">LINKS</h2>
            <div class="section-icon"><i class="fas fa-external-link-square-alt"></i></div>
            <hr>
            <p class="section__content-subtitle">Below are links to my website and Github account where you can find out more about me and my projects.</p>
            <ul class="link-list">
              <li class="link-list__item">Daniel L. Guzdek Page:<a href="https://www.danny-webdeveloper.pl/">https://www.danny-webdeveloper.pl</a></li>
              <li class="link-list__item">Github daniel-guzdek:<a href="https://github.com/daniel-guzdek">https://github.com/daniel-guzdek</a></li>
            </ul>
          </div>
        </div>
        <!-- TOOLS -->
        <div class="tab-body__content">
          <div class="section tools">
            <h2 class="section__content-title">TOOLS</h2>
            <div class="section-icon"><i class="fas fa-tools tab-icon"></i></div>
            <hr>
            <p class="section__content-subtitle">Technologies on which the project was based:</p>
            <ul class="tech__list">
              <li class="tech__list-item">express.js</li>
              <li class="tech__list-item">Node.js</li>
              <li class="tech__list-item">MongoDB</li>
              <li class="tech__list-item">Mongoose</li>
              <li class="tech__list-item">handlebars</li>
              <li class="tech__list-item">body-parser</li>
              <li class="tech__list-item">cookie-session</li>
              <li class="tech__list-item">axios</li>
              <li class="tech__list-item">morgan</li>
              <li class="tech__list-item">jQuery</li>
              <li class="tech__list-item">node-sass</li>
              <li class="tech__list-item">npm</li>
            </ul>
          </div>
        </div>
        <!-- ADMIN -->
        <div class="tab-body__content">
          <div class="section admin">
            <h2 class="section__content-title">LOG AS ADMIN</h2>
            <div class="section-icon"><i class="fas fa-user-cog tab-icon"></i></div>
            <hr>
            {{!-- <p class="section__content-subtitle">click on the button and go to the admin login page</p> --}}
            <p class="section__content-subtitle">Insert proper data to access the admin's panel.</p>
            <p class="section__content-subtitle">The correct password and login are:<span class="login-info">login: admin</span> <span class="password-info">password: 123</span></p>
            <form method="POST" class="admin-log-form">
              {{logErrorMessage}}
              <div class="form-group">
                <label class="form-group__label">Login: </label>
                <input class="form-group__input" type="text" name="login" placeholder="Login">
              </div>
              <div class="form-group">
                <label class="form-group__label">Password: </label>
                <input class="form-group__input" type="password" name="password" placeholder="Password">
              </div>
              <div class="admin-log__btn">
                <button type="submit" class="btn-submit" value="login">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>  
</main>