<div class="page">
  <i class="fas fa-exclamation"></i>
  <h1 class="error-title">{{viewTitle}}</h1>
  <div class="buttons-container">
    <a class="btn-back-to-search" href="/admin/search"><i class="far fa-arrow-alt-circle-left"></i>Back</a>
    <a class="btn-back-to-admin" href="/admin"><i class="fas fa-home"></i>Back to Admin's Panel</a>
    <a class="btn-add" href="/admin/add-programmer"><i class="fa fa-plus"></i> Create New</a>
    <a class="btn-view_all" href="/admin/list"><i class="fas fa-list"></i>View all</a>
  </div>
</div>